/*
 Theme Name:   NinjaFav
 Theme URI:    https://arraythemes.com/themes/checkout-wordpress-theme/
 Description:  Custom theme for NinjaFav. Child theme of Checkout.
 Author:       iWitness Design (Tanner Moushey)
 Author URI:   https://iwitnessdesign.com
 Template:     checkout
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         two-columns, three-columns, featured-image-header, featured-images, theme-options, custom-background, custom-colors, custom-menu, custom-logo, editor-style, featured-images, theme-options, translation-ready, e-commerce, footer-widgets, full-width-template
 Text Domain:  ninjafav
*/

.current-cart {
	display: none !important;
}

.vendor-dashboard .site-content {
	background: #eee;
	padding: 3rem;
}

.site-header .logo, .site-navigation {
	max-width: 50%;
}

.fl-post-grid #infscr-loading {
	margin-top: 4rem;
	color: white;
	bottom: -40px;

	img {
		margin: auto;
	}
}